.img {
   position: relative;
   height: 40vh;
   margin-bottom: 2rem;
}

.text {
   max-width: 55rem;
   margin: 0 auto;
   padding: 0 1rem;
}

.text h1 {
   font-size: var(--fz-heading);
   line-height: var(--lh-heading);
}

.text p {
   margin: 1rem 0;
}

@media screen and (max-width: 800px) {
   .text h1 {
      font-size: var(--fz-menuList);
      line-height: var(--lh-menuList);
   }
}

.goBack {
   cursor: pointer;
   text-align: right;
   max-width: 55rem;
   margin: 2rem auto;
   padding: 0 1rem;
}
