.mobileMenu {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: flex-end;
   width: 2rem;
   height: 1.4rem;

   cursor: pointer;
}

.mobileMenu span {
   width: 1.5rem;
   height: 2px;
   background-color: var(--text-main-color);
}

.mobileMenu span:nth-of-type(2n) {
   width: 1.5rem;
   height: 2px;
   background-color: var(--text-main-color);
}
.mobileMenu span:nth-of-type(2n + 1) {
   width: 2rem;
}
