.box {
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   height: 500px;
}

.box h4 {
   line-height: 2rem;
   margin: auto 0;
}

.image {
   position: relative;
   height: 70%;
}

.image img {
   width: 100%;
   height: 100%;
}
