:root {
   --main-color: #6f2280;
   --main-color-lighter: #8c4e99;
   --second-color: #d60c5d;
   --second-color-lighter: #de3d7d;

   --frame-border-color: 1px solid #8c4e99;
   --helper-color: #ffff00;
   --normal-color: black;

   --link-color: #0000ff;

   /* body element */
   --main-text-color: #343a40;
   --background-color: #f8f9fa;
   --pageFontSize: 14px;
}

[helper-color='true'] {
   --main-color: #e877a4;

   --frame-border-color: 1px solid #e877a4;
   --normal-color: #f8f9fa;
   --link-color: #b3b3ff;

   /* body element */
   --main-text-color: #ffff00;
   --background-color: #15171a;
}

/* @media (prefers-color-scheme: dark) {
   :root {
      --main-text-color: #dfe0e1;
      --background-color: #4a4b4b;

      --main-color: #c5a7cc;
   }
} */

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   font-weight: 400;
   font-size: var(--pageFontSize);
}
body {
   color: var(--main-text-color);
   background-color: var(--background-color);
}

section {
   margin: 0 auto;
   padding: 3rem 0.2rem 0 0.2rem;
}

@mdia screen and (min-width: 1000px) {
   section {
      padding: 2rem 0.5rem;
   }
}

a,
a:link,
a:visited {
   color: inherit;
   text-decoration: none;
}

a.link,
a.link:link,
a.link:visited {
   color: var(--link-color);
   text-decoration: underline;
   font-size: 0.9rem;
}
