.box {
   display: flex;
   flex-grow: 1;
   justify-content: space-evenly;
   flex-wrap: nowrap;
   align-items: center;
   margin-left: 1rem;
}

.box a {
   position: relative;
   display: block;

   padding: 0.8rem 0.5rem;
}
