.box {
   background-color: var(--background-second-color);
   color: var(--text-second-color);
   padding: 3.5rem 1.6rem;
   text-align: center;
}

.box div {
   max-width: 35rem;
   margin: 0 auto;
}

.box h3 {
   font-family: 'SokolskaLogo';
   font-size: var(--fz-heading);
   line-height: var(--lh-heading);
}

.box p {
   padding: 1.5rem 2rem;
}
